<footer class="pb-14 pt-14 dark-bg w-100 white">
    <div class="footer-container container">
        <div class="footer-grid flex flex-col col-20 col-offset-2">
            <div class="footer-display-text flex-order-1 mb-10">
                <h2 class="display-footer">Connecting 
                    <br>
                    innovative brands 
                    <br>
                    with the world</h2>
            </div>
            <div class="flex-order-3 col-20 mb-10">
                <h3 class="uppercase footer-text">Milwaukee</h3>
                <p class="footer-text white">
                    <a href="" class="white">hello@shockmouse.com</a>
                    <br>
                    +1 414 795 0219
                    <br>
                    790 N Milwaukee St, #316,
                    <br>
                    Milwaukee, WI 53202
                </p>
                <div>
                    <p class="white footer-text">
                        <a href="" class="white">See on map ↗</a>
                    </p>
                </div>
            </div>
            <div class="flex-order-3">
                <h3 class="uppercase footer-text">Nashville</h3>
                <p class="footer-text white">
                    <a href="" class="white">hello@shockmouse.com</a>
                    <br>
                    +1 414 795 0219
                    <br>
                    501 Union St,
                    <br>
                    Nashville, TN 37219
                </p>
                <div>
                    <p class="white footer-text">
                        <a href="" class="white">See on map ↗</a>
                    </p>
                </div>
            </div>
            <div class="flex-order-2 mb-10">
                <div class="footer-newsletter mb-10">
                    <h3 class="uppercase footer-text">Want to be the smartest
                        <br>
                         in your office?</h3>
                    <p class="uppercase footer-text">
                        <a href="" class="white">Sign up for our newsletter →</a>
                    </p>
                </div>
                <div class="footer-socials">
                    <h3 class="uppercase footer-text mb-5">Follow Us</h3>
                    <ul class="flex justify-between">
                        <li>
                            <a href="" class="fab fa-linkedin white decor-none"></a>
                        </li>
                        <li>
                            <a href="" class="fab fa-instagram white decor-none"></a>
                        </li>
                        <li>
                            <a href="" class="fab fa-pinterest white decor-none"></a>
                        </li>
                        <li>
                            <a href="" class="fab fa-facebook white decor-none"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>