<div class="navigation">
    <header class="header">
        <div class=" p-0"><a href="index.html" class="transition"><img src="images/logo.png"
                    alt="Image" class="logo"></a>
            <div class="menu-btn" id="menu-btn">
                <div class="bars">
                    <div class="bar b1"></div>
                    <div class="bar b2"></div>
                </div>
            </div>
            <!-- end menu-btn -->
        </div>
    </header>
    <!-- end video -->
    <div class="table-middle">
        <div class="inner">
            <ul>
                <li><a href="index.html" class="transition">Home<span></span></a></li>
                <li><a href="about.html" class="transition">About Us<span></span></a></li>
                <li><a href="/blog" class="transition">Blog<span></span></a></li>
                <li><a href="contact.html" class="transition">Contact<span></span></a></li>
            </ul>
        </div>
        <!-- end inner -->
    </div>
    <!-- end table-middle -->
</div>