<div class="navigation">
    <!-- end video -->
    <div class="table-middle">
        <div class="inner">
            <ul>
                <li><a href="index.html" class="transition">Home<span></span></a></li>
                <li><a href="about.html" class="transition">About Us<span></span></a></li>
                <li><a href="/blog" class="transition">Blog<span></span></a></li>
                <li><a href="contact.html" class="transition">Contact<span></span></a></li>
            </ul>
        </div>
        <!-- end inner -->
    </div>
    <!-- end table-middle -->
</div>